# DataFrame - Alturas

DataFrame que contém uma amostra de mil aturas com uma amplitude de 40 cm (150cm-190cm)

In [40]:
import random as rand
import pandas as pd

alturas = pd.Series([rand.randint(150, 190) for x in range(1000)])
idades = pd.Series([rand.randint(20, 30) for x in range(1000)])
df = pd.DataFrame({'idades': idades, 'alturas': alturas})

df

     idades  alturas
0        21      162
1        28      155
2        29      177
3        22      170
4        21      186
..      ...      ...
995      25      179
996      29      183
997      28      182
998      22      167
999      21      162

[1000 rows x 2 columns]

In [41]:
df['idades'].mode()

0    29
1    30
Name: idades, dtype: int64